*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

html,body{
    width: 100%;
    height: 100%;
}

#bg{
    width: 100%;
    height: 100%;
    display: flex;
}

#box1{
    width: 40%;
    height: 100%;
    background-image: url(./img1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

#box2{
    width: 33%;
    height: 100%;
    background-color: #4C8280;
}

#box3{
    width: 27%;
    height: 100%;
}

#nav1{
    width: 100%;
    height: 90px;
    display: flex;
}

#menu{
    width: 90px;
    height: 90px;
    background-color: #4C8280;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#logo{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    letter-spacing: 3px;
}

#logo a{
    text-decoration: none;
    color: #4C8280;
    font-size: 14px;    
    font-weight: 700;
}

#search{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #707070;
    padding:0 35px;
}

#buttons{
    width: 100%;
    height: 12%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding:0 40px;
    font-weight: 500;
    font-size: 13px;
    color:#4C8280 ;
}

#next{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 2px;
}

#next a{
    text-decoration: none;
    color: #4C8280;
}

#underline{
    width: 27px;
    height:2px;
    position: relative;
    background-color: #4C8280;
}

#previous{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    letter-spacing: 2px;
}

#previous a{
    text-decoration: none;
    color: #4C8280;
}

#content{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 35px;
}

#box2 h2{
    font-family: Playfair Display;
    color: #fff;
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: 500;
}

#box2 p{
    font-size: 12px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 100;
    margin: 15px 0;
}

#content #button{
    width: 120px;
    height: 38px;
    display: flex;
    background-color: white;
}

#button{
    display: flex; 
    align-items: center;
    justify-content: center;   
}

#button h6{
    font-size: 11px;
    font-weight: 0px;
    color: #707070;
    font-weight: 500;
    letter-spacing: 1px;
}

#button i{
    color: #707070;
    align-items: center;
    margin: 10 5;
}

#explore{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    padding-bottom: 30px;
}

#explore h6{
    font-size: 10px;
    font-weight: 400;
    margin-right: 5px;
}

#nav2{
    width: 100%;
    height: 90px;
    display: flex;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav2 a{
    text-decoration: none;
    color: #707070;
    font-size: 14px;
    font-weight: 400;
}

#img{
    width: 100%;
    height: 60%;
    background-image: url(/img2.png);
    background-position: bottom;
    background-size: cover;
}

#tagline{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: left;
    align-items: center ;
    padding: 40px;
}

#tagline #bar{
    width: 2px;
    height: 25px;
    background-color: #707070;
    margin: 0px 10px;
    opacity: 0.7;
}

#tagline p{
    font-size: 12px;
    font-weight: 400;
    color: #707070;
    letter-spacing: 1px;
}

#tagline i{
    font-size: 25px;
    color: #707070;
    margin: 10px;
    opacity: 0.7;
}